.blog {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente o conteúdo do contêiner blog */
  align-items: center; /* Centraliza verticalmente o conteúdo do contêiner blog */
  height: 100vh; /* Faz com que o contêiner ocupe a altura total da viewport */
}

.banner {
  width: 800px; /* Define a largura do contêiner banner */
  text-align: center; /* Centraliza o texto dentro do contêiner banner */
  margin: 0 auto; /* Centraliza o contêiner banner horizontalmente */
}

.banner img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* Centraliza a imagem horizontalmente */
}

.title, .description {
  margin: 20px 0;
}
